@font-face {
    font-family: myFirstFont;
    src: url(/fonts/UniversLT45Light.ttf);
}

@font-face {
    font-family: myFirstFont2;
    src: url(/fonts/CEN725N.TTF);
}

@font-face {
    font-family: myFirstFont3;
    src: url(/fonts/univers-condensed-medium-5871d3fdc2110.ttf);
}

@font-face {
    font-family: myFirstFont4;
    src: url(/fonts/Univers\ LT\ 45\ Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.log {
    max-width: 20rem;
}

#nav-bar {
    position: sticky;
    top: 0;
    border-bottom: black;
    z-index: 10;
}

.navbar {
    background-color: white;
    padding: 0 !important;
}

.navbar-brand img {
    height: 50px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #000000 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: black;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}


/*--------------------------Banner CSS-------------------------------*/

#banner {
    color: #fff;
}

.bannerTit1 {
    font-size: 22px;
    letter-spacing: 8px;
    font-family: myFirstFont;
}

.section3 {
    background-color: #003366;
    padding-top: 2%;
    padding-bottom: 2%;
}

.boxesPink {
    padding-top: 1%;
    padding-bottom: 1%;
}

.card1title {
    font-size: 40px;
    color: white;
    font-family: myFirstFont2 !important;
}

.bannerTit2 {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: myFirstFont3 !important;
}

.bannerTit3 {
    font-size: 22px;
    letter-spacing: 8px;
    font-family: myFirstFont2 !important;
}

#banner4 {
    padding-top: 2%;
    padding-bottom: 3%;
    color: white;
}

.banner4Tit {
    color: #7E7C7C;
    font-size: 40px;
    font-weight: 600;
    font-family: myFirstFont2 !important;
}

.banner4Tit2 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    font-family: myFirstFont2 !important;
}

.banner4Tit3 {
    color: rgb(78, 64, 64);
    font-size: 20px;
    font-family: myFirstFont4 !important;
}

#banner5 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #003366;
}

.banner5tit {
    font-size: 40px;
    font-weight: 600;
}

.bor {
    border-right: 1px solid white;
}

.missionBut {
    color: black !important;
    background-color: white !important;
    font-weight: 600 !important;
}

.fa-whatsapp {
    font-size: 40px !important;
}

.fa-youtube-play {
    font-size: 40px !important;
}

.fa-facebook-official {
    font-size: 40px !important;
}

.fa-instagram {
    font-size: 40px !important;
}

.toggle {
    background-color: blue !important;
    color: white !important;
}

.toggle1 {
    background-color: blue !important;
    color: white !important;
}

.toggle2 {
    background-color: blue !important;
    color: white !important;
}

.toggle3 {
    background-color: blue !important;
    color: white !important;
}

.toggle4 {
    background-color: blue !important;
    color: white !important;
}

.toggle5 {
    background-color: blue !important;
    color: white !important;
}

.toggle6 {
    background-color: blue !important;
    color: white !important;
}

.toggle7 {
    background-color: blue !important;
    color: white !important;
}

#banner6 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    background-color: white;
}

#banner7 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    background-color: #D71629;
}

.banner7Tit {
    font-weight: 600;
    font-size: 30px;
}

.banner6Tit {
    font-size: 30px;
}

#banner9 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: black;
}

.banner9Tit {
    font-size: 30px;
    color: cadetblue;
}

.banner9Tit2 {
    color: black;
    font-size: 25px;
}

.footTit1 {
    font-size: 25px;
}

#banner10 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #003366;
}

.missionBut2 {
    color: white !important;
    background-color: blueviolet !important;
    font-weight: 600 !important;
}


/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #3e4f5c;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav>.sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.square {
    padding: 8px;
    display: block;
    margin: 12px;
}

.wl a {
    color: #91a9cf;
}

.caption-1 {
    font-family: myFirstFont2 !important;
}

.tit1 {
    font-family: myFirstFont3 !important;
}

#OppurBanner {
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    background-color: white;
}

#banner62 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    background-color: #003366;
}

#banner621 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #003366;
}

#banner721 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #042546;
}

.banner6Tit1 {
    font-size: 20px;
}

#banner731 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #3d2352;
}

#banner741 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #3d1e6d;
}

#banner751 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: #8874a3;
}

.mainList {
    list-style: none;
}

.mainList .sublist::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.mainList1 {
    list-style: none;
}

.mainList1 .sublist1::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.icoPage {
    width: 10%;
}

.icoPage1 {
    width: 5%;
}

#banner222 {
    padding-top: 2%;
    padding-bottom: 3%;
    color: black;
}

.namePer {
    font-family: myFirstFont3 !important;
}

.namePer2 {
    font-family: myFirstFont3 !important;
    font-size: 15px !important;
}

.namePer3 {
    font-family: myFirstFont1 !important;
    font-size: 17px !important;
}